<html>
  <head>
    <title>Atlas Roadmap</title>
    <link rel="stylesheet" href="/assets/application.css">
    <script type="text/javascript">window.data = <%= @data %></script>
    <script src="/assets/application.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="wrapper"></div>
    </div>
  </body>
</html>
