<html>
  <head>
    <title>Atlas Roadmap</title>
    <link rel="stylesheet" href="/assets/application.css">
    <script type="text/javascript">window.data = <%= @data %></script>
    <script src="/assets/application.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/"><span class="logo logo-white"></span> Roadmap</a>
      </div>
    </div>
    <div id="wrapper">
      <div class="calendar"></div>
    </div>
  </body>
</html>
