<html>
  <head>
    <title>Atlas Roadmap</title>
    <%= stylesheet_tag 'application' %>
    <script type="text/javascript">window.data = <%= @data %></script>
    <%= javascript_tag 'application' %>
  </head>
  <body>
    This is a test.
  </body>
</html>
