@import 'atlas_assets';
@import 'bourbon/bourbon';
@import 'grid_settings';
@import 'neat/neat';

html {
  background-color: $lighter_gray;
}

body {
  font-family: "Merriweather Sans";
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#container {
  margin: auto;
}

.navbar,
#releases {
  max-width: 68em;
  margin: 1em auto;
  @include box-sizing(border-box);
}

.navbar {
  padding: 0 0.5em;
}

#wrapper {
  background-color: $white;
  position: relative;
  @include outer-container();
  width: 100%;
  max-width: 100%;
  padding: 2em 0 0.5em;
  overflow: auto;

  .row {
    @include row();
    min-height: 3em;
    @include box-sizing(border-box);
  }
}


.calendar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  text-align: center;
  font-weight: 600;

  .month {
    height: 100%;
    position: absolute;
    display: block;
    border-left: 1px solid $defaultBorderColor;
    border-right: 1px solid $defaultBorderColor;
    background: white;

    &:nth-child(2n) {
      background: $lightest_gray;
    }
  }
}

.progress-bar {
  @include span-columns(12);
  @include omega();

  background-color: rgba(255,255,255,0.4);
  // border: 1px solid $defaultBorderColor;
  border-radius: 3px;
  height: 1.6em;
  position: relative;
  overflow:hidden;

  .progress {
    background: #107a12;
    display: block;
    height: 100%;
  }

  .progress-percent {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.6em;
    padding: 0 0.25em;
  }
}

.milestone {
  border: 1px solid white;
  @include border-radius($defaultBorderRadius);
  @include box-sizing(border-box);
  position: absolute;
  padding: 0.33em;
  margin: 0 0.33em 0.33em;
  color: $white;
  font-size: 10px;

  h3 {
    color: $white;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 400;
    text-align: center;
    padding-top: 0;
    margin-top: 0;

    &:hover {
      cursor: pointer;
    }
  }

  a.permalink {
    color: inherit;
    position: absolute;
    top: 1px;
    right: 3px;

    &:hover {
      text-decoration: none;
      color: $defaultLinkColor;
    }
  }

  &.open {
    background-color: rgb(71, 164, 72);
  }

  &.closed {
    background-color: $light_gray;

    &,h3 {color: $defaultFontColor; }

    .progress {
      background-color: $green;
    }
  }

  .description {
    display: none;
  }
}


.release {
  background: white;
  padding: 0.5em 1em;
  margin: 0 0 1em;

  h2 {
    color: $defaultFontColor;
  }

  h3 {
    font-size: 1em;
    line-height: 1.2em;
    color: $medium_gray;
  }

  h4 {
    margin: 0 0 2em;
  }

  .avatar {
    @include border-radius($defaultBorderRadius);
    width: 24px;
    height: 24px;
  }
}